 Terraform files

# Lock files
*.lock.*

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

**/workshop/*

*.zip
*.xml

**/.idea/*
**/.vscode/*

# Ignore env var files
*.env
